/* @import "compass/css3"; */

body {
  padding: 0;
  margin: 0;
}

.title {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: inline-block;
  font-size: 200%;
}

.main {
  background-image: url('./image.jpg');
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

#out {
  background-color: white;
  opacity: 80%;
  margin: 5%;
  height: 60%;
  width: 90%;
  border-radius: 1em;
  position: absolute;
  bottom: 10px;
}

#out p {
  font-size: 200%;
  display: inline-block;
}

header {
  width: 37.5em;
  margin: 2em auto;
}

.logo {
  background: white;
  background-size: 100%;
  float:left;
  max-width: 100%;
  min-width: 300px;
  height: auto;
  font-family: Baskerville;
  color: #575557;
  position: center;
  padding-bottom: 1em;
}

.laura {
  font-size: 7em;
  position: relative;
  top: 5%;
  left: 5%;
}

.javery {
  font-size: 7em;
  position: relative;
  top: 16%;
  left: 18%;  
}

.ampersand {
  font-size: 7em;
  font-style: italic; 
  position: relative;
  top: 12%;
  left: 11.5%;
}

date {
  font-size: 2em;
  border-top: 1px solid #575557;
  border-bottom: 1px solid #575557;
  position: relative;
  top: 32%;
  left: 10%;
}

.head {
  font-size: 1.5em;
  position: relative;
  text-align: center;
  top: 37%;
  left: 11%;
}

input {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: right;
  font-size:200%;
}

button {
  display: inline;
  width: 15%;
  border-radius: 0.24em;
  margin: 8px 0;
  padding: 10px 0 10px 0;
  background: green;
  font-size: 180%;
  color:white;
  text-align: center;
  border: 5;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 80%;
}


/* @media only screen and (max-width: 600px) {
    body {
        background-attachment: fixed;
        background-position: right;
    }
} */
